
//颜色
$light-color: #ffb181;
$base-color: #ec6611;

// 导航栏
// $navigate-light-color: #263240;
// $navigate-dark-color: #1e2832;

$navigate-light-color: #304156;
$navigate-dark-color: #1f2d3d;
$navigate-hover-color: #0a1626;
$navigate-text-color: #bfcbd9;

// 背景色
$background-color: #f8fafa;
$background-color-light: #f4f6f6;

// 字号
$font-size-extra-large: 20px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-base: 14px;
$font-size-small: 13px;

// 字色
$text-color-primary: #303133;
$text-color-base: #606266;
$text-color-secondary: #909399;
$text-color-placeholder: #c0c4cc;

// 边框色
$border-color-one: #DCDFE6;
$border-color-two: #E4E7ED;
$border-color-three: #EBEEF5;
$border-color-four: #F2F6FC;
$shadow-border: 0 0 3px rgba(0, 0, 0, 0.2);
$shadow-border-light: 0 0 2px rgba(0, 0, 0, 0.1);

// box-shadow
$box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12),
0 0 6px rgba(0, 0, 0, .04);
$box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12),
0 0 6px rgba(0, 0, 0, .12);
$box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);